* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  height: 500px;
  width: 350px;
  position: relative;
  border: 2px solid red;
}
.pro-txt {
  padding: 8px 20px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffc83dc7;
}
.circle-photo-div{
    display: flex;
    justify-content: center;
}
.main-thing {
 display: flex;
 padding: 0 3rem;
 flex-direction: column;
 text-align: center;
 gap: 10px;
 font-size: 1.3rem;
}

.circle-photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.circle-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.buttons{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.buttons .bt{
   padding: 8px 20px;
   background-color: #6bcb50c7;
   cursor: pointer;
   border-radius: 10px;
}

.buttons .fade{
    color: black;
    background-color: #fff;
    border: 2px solid #6bcb50c7;
}