*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper{
    height: 100vh;
    width: 100vw;
   padding: 2rem 0;
   position: relative;
}
.main{
    width: 1200px;
    margin: 0 auto;
}

.nav-bar{
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 12rem;
}
.logo img{
    height: 100%;
    width: 100%;
}
.sub-nav ul{
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.sub-nav ul li {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: gray;
}
.sub-nav ul li span{
    font-weight: 700;
    color: black;
    font-size: 1.3rem;
}

.hero{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left h3{
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.left h3 span{
    color: #89C5CC;
}
.sub-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-left .hero-txt{
    width: 65%;
    font-size: 1.3rem;
    font-weight: 200;
}
.btn{
    margin-top: 2rem;
}
.button{
    padding: 10px 25px;
    width: fit-content;
    display: flex;
    gap: 10px;
    background-color: #69B99D;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
}

.last-hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-hero .balls{
    position: absolute;
    right: 5%;
    bottom: 5%;
}

@media (max-width: 480px) {
    .hero{
        display: block;
    }
}